@model HaarlemFilmFestival.Models.Historic
@using HaarlemFilmFestival.Models;

<tr>
    <td> @Model.StartTime.ToString(@"HH\:mm")</td>
    <td> €@Model.Price.ToString("N2") </td>
    <td>
        @{if (Model.Languages == Language.English)
            { <a href="~/Views/Order/Index.cshtml"><img src="~/Content/cart.png" /></a> }
        }
    </td>
    <td>
        @{if (Model.Languages == Language.Dutch)
            { <a href="~/Views/Order/Index.cshtml"><img src="~/Content/cart.png" /></a> }
        }
    <td>
        @{if (Model.Languages == Language.Chinese)
            { <a href="~/Views/Order/Index.cshtml"><img src="~/Content/cart.png" /></a> }
        }
    </td>

</tr>