@* vragen staan op regels: 14, 26, 60 *@
@*// @model HaarlemFilmFestival.Models.Historic*@
@model IEnumerable<Historic>
@using HaarlemFilmFestival.Models;

@{
    @**@IEnumerable<Historic> historics = Model;

}
<link href="@Url.Content("~/Content/Historic.css")" , rel="stylesheet" type="text/css" />
@* Scripts *@
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

@* hoe zorg ik ervoor dat dit script werkt? zoals de loginpage die ik floris liet zien van vorig jaar *@
<script>
    $(document).ready(function () {
        $("#hide").click(function () {
            $(".orderPopUp").hide();
        });
        $("#placeOrder").click(function () {
            $(".orderPopUp").show();
        });
    });
</script>

@* hoe zorg ik ervoor dat deze tabel niet onder elkaar loopt, maar naast elkaar?
    time    price   english     dutch   chinese
    10:00   17,50
    13:00   17,50
    16:00   17,50
    en dat de loop dan voor elk tijdstip kijkt in welke taal het event 
    is, dan naar het volgende event en die ernaast zet ipv eronder
    *@
@{
    foreach (Historic historic in Model)
    {
        <tr>
            @*  <td> @historic.StartTime</td>*@
            <td> €@historic.Price.ToString("N2") </td>
            <td>
                @{if (historic.Languages == Language.English)
                { <a id="placeOrder" class="orderbutton"><img src="~/Content/cart.png" /></a> }
                }
            </td>
            <td>
                @{if (historic.Languages == Language.Dutch)
                { <a id="placeOrder" class="orderbutton"><img src="~/Content/cart.png" /></a> }
                }
            </td>
            <td>
                @{if (historic.Languages == Language.Chinese)
                { <a id="placeOrder" class="orderbutton"><img src="~/Content/cart.png" /></a> }
                }
            </td>
        </tr>
                    }
}


@* hoe zorg ik ervoor dat dit een pop up wordt, zoals ik floris liet zien in mijn project van vorig jaar *@

<div class="orderPopUp">
    <form class="placeOrder" method="post" action="~/Views/Historics/Index.cshtml">
        Amount of tickets:<br />
        <input type="number" name="amountOfTickets" required><br />

        <br />
        <input type="submit" value="Add ticket">
        <input id="hide" type="button" value="CANCEL">
    </form>
</div>
