@model HaarlemFilmFestival.Models.Historic
@using HaarlemFilmFestival.Models;

@{ 
    Historic historic = this.ViewData.ContainsKey("historic") ? (Historic)this.ViewData["historic"] : null; 
}
<tr>
    <td> @historic.StartTime.ToString(@"HH\:mm")</td>
    <td> €@historic.Price.ToString("N2") </td>
    <td>
        @{if (historic.Languages == Language.English)
            { <a href="~/Views/Order/Index.cshtml"><img src="~/Content/cart.png" /></a> }
        }
    </td>
    <td>
        @{if (historic.Languages == Language.Dutch)
            { <a href="~/Views/Order/Index.cshtml"><img src="~/Content/cart.png" /></a> }
        }
    <td>
        @{if (historic.Languages == Language.Chinese)
            { <a href="~/Views/Order/Index.cshtml"><img src="~/Content/cart.png" /></a> }
        }
    </td>

</tr>