
@{
    ViewBag.Title = "Final";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="@Url.Content("~/Content/Order.css")" , rel="stylesheet" type="text/css" />
<div class="jumbotron">
    <h2>Succes!</h2>
    <p><strong>Thank you!</strong>
    The payment has succeeded. Your tickets will be delivered to you mail address.
    <br />
    Check you email carefully and also your spam inbox.
    <br />
        <strong>We see you soon at the Haarlem Festival.</strong></p>
    </div>
