
@{
    ViewBag.Title = "Final";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="@Url.Content("~/Content/Order.css")" , rel="stylesheet" type="text/css" />
<div class="jumbotron">
    <h2>Final</h2>

    <p>hoi </p>
    </div>
