body {
    background-image: url(/Content/Images/food-bg.jpg);
}

.food {
    background-color: white;
}

.food1 {
    text-align: center;
}

.h1 {
    text-align: center;
}

.foodcontainer {
    border-color: black;
}
.column {
    float: left;
    width: 33.33%;
    font-size: 17px;
    text-align: left;
}

/*#region OrderField*/
#orderButton {
    color: black;
    background-image: url("~/Content/cart.png");
    border-radius: 10px;
    border: 1px solid black;
    padding: 1px 15px;
    float: right;
    margin: 20px;
    font-size: 28px;
    font-weight: 800;
}

.orderPopUp {
    display: none;
    z-index: 101;
    left: 0;
    top: 0;
    position: fixed;
    background-color: #fefefe;
    margin: auto;
    border: 1px solid black;
    width: 700px;
    height: 470px;
    border-radius: 20px;
    font-size: 10px;
    font-weight: 100;
    transform: translate(27%, 57%);
}

    .orderPopUp input {
        font-family: Arial;
        font-size: 13px;
        width: 300px;
    }

    .orderPopUp [type=submit], input[type=button] {
        background-color: #169BD5;
        border: none;
        color: white;
        padding: 5px;
        text-decoration: none;
        border-radius: 5px;
        font-family: phenomena;
        font-size: 10px;
        font-weight: 800;
    }

    .orderPopUp [type=button] {
        width: 150px;
        right: 0;
        bottom: -45%;
        position: fixed;
    }

.placeOrder {
    position: fixed;
    top: 50%;
    left: 40%;
    transform: translate(-60%, -50%);
}
/* #endregion */
