body {
}

    .container .jumbotron {
        margin-top: 5px;
    }

h1 .historic-title {
    margin-top: 100px;
    font-family: 'Bahnschrift SemiLight', 'Bahnschrift Regular', 'Bahnschrift';
    font-weight: 350;
    font-style: normal;
    font-size: 48px;
    text-align: left;
    text-align: center;
}

.HistoricInfo {
    font-family: 'Bahnschrift SemiLight', 'Bahnschrift';
    font-weight: 350;
    font-style: normal;
    font-size: 20px;
    text-align: center;
}

.paragraph-title {
    font-family: 'Arial Vet', 'Arial Standaard', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 48px;
}

ol .list-stops {
    border-style: solid;
    border-color: rgba(68, 217, 201, 1);
    align-content: center;
}

ol li .historic-stop-list {
    font-family: 'Bahnschrift SemiLight', 'Bahnschrift';
    font-weight: 350;
    font-style: normal;
    font-size: 24px;
    text-align: center;
}
