body {
    background-image: url('Images/historic-bg.jpg');
}

/* #region Fonts */
h1 {
    font-family: 'Bahnschrift SemiLight', 'Bahnschrift Regular', 'Bahnschrift';
    font-weight: 300;
    font-style: normal;
    font-size: 48px;
    text-align: center;
}

h2 {
    font-family: 'Arial Vet', 'Arial Standaard', 'Arial';
    font-weight: 300;
    font-style: normal;
    font-size: 48px;
    text-align: center;
}
/* #endregion */

.HistoricInfo {
    font-family: 'Bahnschrift SemiLight', 'Bahnschrift';
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
    line-height: 1.6;
}

.historic-table {
    border: 1px solid;
}

    .historic-table img {
        width: 22px;
        height: 22px;
    }


/* #region FancyLineNextToText*/
/* #region FancyOpmaakTickets */
.fancy span {
    display: inline-block;
    position: relative;
}

    .fancy span:before,
    .fancy span:after {
        content: "";
        position: absolute;
        height: 6px;
        border-bottom: 1px solid rgba(68, 217, 201, 1);
        top: 22px;
        width: 200px;
    }

    .fancy span:before {
        right: 100%;
        margin-right: 15px;
    }

    .fancy span:after {
        left: 100%;
        margin-left: 15px;
    }
/* #endregion */
/* #region FancyOpmaakLocations */
.amp {
    margin: 0 0 0.25em 0;
    align-content: center;
    text-align: center;
}

    .amp span {
        width: 199px;
    }

        .amp span:before,
        .amp span:after {
            content: "";
            position: absolute;
            height: 6px;
            border-bottom: 1px solid rgba(68, 217, 201, 1);
            top: 22px;
            width: 178px;
        }

        .amp span:before {
            right: 100%;
            margin-right: 15px;
        }

        .amp span:after {
            left: 100%;
            margin-left: 15px;
        }
/* #endregion */
/* #endregion */

/* #region ListStops */
.list-stops {
    width: 50%;
    margin-left: 25%;
    align-content: center;
    display: block;
    position: center;
    padding: inherit;
    border: 1px solid rgba(68, 217, 201, 1);
    -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
    -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
    box-shadow: 5px 5px 5px rgba(204, 204, 204, 0.349019607843137);
}

ol.list-stops li.historic-stop-list {
    margin-left: 25%;
    margin-bottom: -5%;
    font-family: 'Arial Standaard', 'Arial';
    font-weight: 500;
    color: #333333;
    font-size: 23px;
}

ol li .historic-stop-list {
    font-family: 'Bahnschrift SemiLight', 'Bahnschrift';
    font-weight: 300;
    font-style: normal;
    font-size: 24px;
    text-align: center;
}
/* #endregion */

/* #region Stops */
.historic-stop-1,
.historic-stop-2,
.historic-stop-3 {
    text-align: center;
    display: block;
    width: 30%;
    border: 1px solid rgba(68, 217, 201, 1);
    -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
    -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
    box-shadow: 5px 5px 5px rgba(204, 204, 204, 0.349019607843137);
}

.historic-stop-1 {
    margin-top: 5%;
    width: 30%;
}

.historic-stop-2 {
    width: 30%;
    margin-top: -281px;
    position: relative;
    margin-left: 35%;
}

.historic-stop-3 {
    width: 30%;
    margin-top: -281px;
    position: relative;
    margin-left: 71%;
}

    .historic-stop-1 h3,
    .historic-stop-2 h3,
    .historic-stop-3 h3 {
        font-weight: bold;
    }

.historic-stop p {
    width: 88%;
    margin-left: 6%;
}

.historic-stop-1 img,
.historic-stop-2 img,
.historic-stop-3 img {
    width: 75%;
    height: 200px;
    object-fit: cover;
    align-content: center;
    margin: 4%;
}
/* #endregion */

.google iframe {
    width: 80%;
    display: block;
    align-content: center;
    padding: 40px;
    border: 1px solid rgba(68, 217, 201, 1);
    -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
    -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
    box-shadow: 5px 5px 5px rgba(204, 204, 204, 0.349019607843137);
}

.google {
    position: center;
}
