body {
    background-image: url(/Content/Images/jazz-bg.png);
}

/* Jazz-pagina */
.jazz {
   background-color: rgba(172, 216, 224, 1);
   display: block;
}

h1 {
    text-align: center;
}

.jazz1 {
    text-align: center;
}

.jazzimage {
    text-align:center;
}

#orderButton {
    color: black;
    background-image: url("~/Content/cart.png");
    border-radius: 10px;
    border: 1px solid black;
    padding: 1px 15px;
    float: right;
    margin: 20px;
    font-size: 28px;
    font-weight: 800;
}

.orderPopUp {
    display: none;
    z-index: 101;
    left: 0;
    top: 0;
    position: fixed;
    background-color: #fefefe;
    margin: auto;
    border: 1px solid black;
    width: 600px;
    height: 300px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 700;
    transform: translate(27%, 57%);
}

    .orderPopUp input {
        font-family: Arial;
        font-size: 13px;
        width: 300px;
    }

    .orderPopUp [type=submit], input[type=button] {
        background-color: #169BD5;
        border: none;
        color: white;
        padding: 5px;
        text-decoration: none;
        border-radius: 5px;
        font-family: phenomena;
        font-size: 20px;
        font-weight: 800;
    }

    .orderPopUp [type=button] {
        width: 150px;
        right: 0;
        bottom: -45%;
        position: fixed;
    }

.placeOrder {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.jazz-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    
}

.jazz-item {
    width: 33%;
    padding: 1em;
    text-align: center;
    display: block;
    width: 30%;
    border: 1px solid rgba(68, 217, 201, 1);
    -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
    -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
    box-shadow: 5px 5px 5px rgba(204, 204, 204, 0.349019607843137);
    margin-bottom: 1em;
}

.jazz-image {
    max-width: 100%;
}

.dayButton{
    margin-left: 8%;
    left: 0px;
    font-family: arial !important;
    font-weight: 400 !important;
    font-size: 13px !important;
    top: 0px;
    width: auto;
    height: 70px;
    background: inherit;
    background-color: rgba(242, 242, 242, 1) !important;
    color: black !important;
}