body {
}

.jumbotron h1 {
    font-family: 'Bahnschrift SemiLight', 'Bahnschrift Regular', 'Bahnschrift';
    font-weight: 350;
    font-style: normal;
    font-size: 72px;
    text-align: center;
}

/* #region table */
.body-content {
    border: solid;
    position: relative;
}

.ItemList-Cart {
    border: solid 1px; 
}

.Cart-table th {
    padding: 22px;
}

.Cart-table th.first {
    width: 60%;
}
.Cart-table th.second {
    width: 25%;
}
.Cart-table th.third {
    width: 10%;
}
.Cart-table th.fourth {
    width: 5%;
}

.Cart-table td {
    padding: 5px;
}
/* #endregion */

/* #region buttons */
.back-button {
    background-color: rgba(228, 228, 228, 1);
    width: 48%;
    float: left;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(121, 121, 121, 1);
    border-radius: 5px;
    font-family: 'Bahnschrift SemiLight', 'Bahnschrift Regular', 'Bahnschrift';
    font-weight: 350;
    font-style: normal;
    font-size: 28px;
    text-decoration: underline;
}

.pay-button {
    background-color: rgba(112, 185, 94, 1);
    width: 48%;
    float: right;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(121, 121, 121, 1);
    border-radius: 5px;
    font-family: 'Bahnschrift SemiLight', 'Bahnschrift Regular', 'Bahnschrift';
    font-weight: 350;
    font-style: normal;
    font-size: 28px;
    color: white;
    text-decoration: underline;
}
/* #endregion */

/* #region arrows under H1 and fancy lines*/
img.arrow {
    background-color: rgba(54, 54, 54, 1);
    padding: 10px 110px 10px 110px;
    width: 30%;
    height: 60px;
    margin: 0% 35% 5% 35%;
    border-width: 0px;
}

img.littlearrow {
    background-color: rgba(54, 54, 54, 1);
    width: 47px;
    height: 28px;
    margin: 0% 35% 5% 35%;
    border-width: 0px;
    position: absolute;
    left: 12.5%;
    border-radius: 51%;
}

.fancyarrow span {
    position: relative;
}

    .fancyarrow span:before,
    .fancyarrow span:after {
        content: "";
        position: absolute;
        height: 6px;
        border-bottom: 1.4px solid rgba(255, 204, 102, 1);
        top: -21px;
        width: 140px;
    }

    .fancyarrow span:before {
        right: 100%;
        margin-right: -270px;
    }

    .fancyarrow span:after {
        left: 100%;
        margin-left: -270px;
    }

/* #endregion */

.Order-details {
    display: table;
    width: 100%;
    float: left;
}

    .Order-details p {
        display: table-row;
    }

    .Order-details label {
        display: table-cell;
    }

    .Order-details input {
        display: table-cell;
        width: 100%;
        margin: 2px;
    }

.Order-Cart {
    width: 100%;
    margin-bottom: 50px;
}

.Order-table {
    clear: both;
    width: 100%;
}

    .Order-table th {
        border-bottom: 1px solid grey;
    }

.price-total {
    float: right;
}

.payment-method {
    float: left;
}

.cart-buttons {
    clear: both;
    float: right;
    width: 200px;
}


.order-button {
    background-color: #169BD5;
    color: white;
    float: right;
    font-weight: 700;
    border-radius: 5px;
    width: 100px;
    height: 40px;
}



.cart-progress-bar {
    width: 960px;
}

    .cart-progress-bar ul {
        list-style-type: none;
    }

    .cart-progress-bar li {
        float: left;
        padding: 0 10px;
        font-size: 25px;
        font-weight: 800;
    }

.cart-pijl {
    max-width: 50px;
}
