body {
}

.jumbotron h1 {
    font-family: 'Bahnschrift SemiLight', 'Bahnschrift Regular', 'Bahnschrift';
    font-weight: 300;
    font-style: normal;
    font-size: 72px;
    text-align: center;
}

/* #region table */
.body-content {
    border: solid;
    position: relative;
}

.Order-List {
    width: 100%;
    margin-bottom: 50px;
}

.Order-Table {
    clear: both;
    width: 100%;
}

    .Order-Table th {
        border-bottom: 1px solid grey;
    }

table.Order-Table {
    margin-bottom: 20px;
    border: 1px solid black;
}

div.Order-List {
    border: 1px solid black;
    padding: 20px;
}

.Order-Table th {
    padding: 22px;
}

    .Order-Table th.first, td {
        width: 50%;
        border: 1px, solid, black;
    }

    .Order-Table th.second {
        width: 25%;
    }

    .Order-Table th.third {
        width: 10%;
    }

    .Order-Table th.fourth {
        width: 5%;
    }

.Order-Table td {
    padding: 5px;
    border-top: 1px solid rgba(68, 217, 201, 1);
}

.Order-Table img {
    width: 22px;
    height: 22px;
}

.back {
    width: 541px;
    height: 65px;
    background: inherit;
    background-color: rgba(228, 228, 228, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(121, 121, 121, 1);
    border-radius: 5px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Bahnschrift SemiLight', 'Bahnschrift Regular', 'Bahnschrift';
    font-weight: 300;
    font-style: normal;
    font-size: 28px;
    text-decoration: underline;
}

.finalpay-button {
    float: right;
    left: 0px;
    top: 0px;
    width: 530px;
    height: 65px;
    background: inherit;
    background-color: rgba(112, 185, 94, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(121, 121, 121, 1);
    border-radius: 5px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Bahnschrift SemiLight', 'Bahnschrift Regular', 'Bahnschrift';
    font-weight: 300;
    font-style: normal;
    font-size: 28px;
    text-decoration: underline;
    color: #FFFFFF;
}
.finalpay-button :hover {
    color: rgba(172, 216, 224, 1);
    background-color: rgba(172, 216, 224, 1) !important;
}
/* #endregion */

/* #region buttons */
.back-button {
    background-color: rgba(228, 228, 228, 1);
    width: 48%;
    float: left;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(121, 121, 121, 1);
    border-radius: 5px;
    font-family: 'Bahnschrift SemiLight', 'Bahnschrift Regular', 'Bahnschrift';
    font-weight: 300;
    font-style: normal;
    font-size: 28px;
    text-decoration: underline;
}

.pay-button {
    background-color: rgba(112, 185, 94, 1);
    width: 48%;
    float: right;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(121, 121, 121, 1);
    border-radius: 5px;
    font-family: 'Bahnschrift SemiLight', 'Bahnschrift Regular', 'Bahnschrift';
    font-weight: 300;
    font-style: normal;
    font-size: 28px;
    color: white;
    text-decoration: underline;
}
/* #endregion */

/* #region arrows under H1 and fancy lines*/
img.arrow {
    background-color: rgba(54, 54, 54, 1);
    padding: 10px 110px 10px 110px;
    width: 30%;
    height: 60px;
    margin: 0% 35% 5% 35%;
    border-width: 0px;
}

img.littlearrow {
    background-color: rgba(54, 54, 54, 1);
    width: 47px;
    height: 28px;
    margin: 0% 35% 5% 35%;
    border-width: 0px;
    position: absolute;
    left: 12.5%;
    border-radius: 51%;
}

.fancyarrow span {
    position: relative;
}

    .fancyarrow span:before,
    .fancyarrow span:after {
        content: "";
        position: absolute;
        height: 6px;
        border-bottom: 1.4px solid rgba(255, 204, 102, 1);
        top: -21px;
        width: 140px;
    }

    .fancyarrow span:before {
        right: 100%;
        margin-right: -270px;
    }

    .fancyarrow span:after {
        left: 100%;
        margin-left: -270px;
    }

/* #endregion */

