/* Groene kleur : rgb(102, 204, 0) */
/* Blauwe kleur : rgba(172, 216, 224, 1) */
/* Gifgroene kleur : rgba(68, 217, 201, 1) */
.bg {
    background-image: url(/Content/Images/bg.png);
}

/* #region Fonts */
.jumbotron h1 {
    font-family: 'Bahnschrift SemiLight', 'Bahnschrift Regular', 'Bahnschrift';
    font-weight: 350;
    font-style: normal;
    font-size: 47px;
    text-align: center;
}

/* dit is de tekst onder de eventbuttons met de datum */
/* alleen de datum moet een andere width hebben*/
.jumbotron .navbar-collapse.home2 {
    width: 0px;
}

/* dit is de tekst onder de eventbuttons met de datum en info */
.jumbotron p.home2,
.jumbotron p.home3 {
    line-height: 1.4;
    font-family: 'Bahnschrift Light', 'Bahnschrift';
    font-weight: 300;
    font-style: normal;
    text-align: center;
    margin-left: 0;
    color: black;
}
/* #endregion */

/* #region Images */
img.logo {
    margin-left: -14px;
}

img.arrow {
    background-color: rgba(172, 216, 224, 1);
    padding: 10px 110px 10px 110px;
    width: 30%;
    height: 60px;
    margin: 0% 35% 5% 35%;
}

img.homeimages {
    width: 100%;
}
/* #endregion */

/* #region Lines */
/* #region Nav-Line */
.navbar-collapse :after,
.navbar-collapse :before {
    height: 6px;
    border-bottom: 1.4px solid rgb(102, 204, 0);
    top: 22px;
    width: 100%;
}

.navbar-collapse :before {
    right: 100%;
    margin-right: 15px;
}

.navbar-collapse :after {
    left: 100%;
    margin-left: 0px;
}
/* #endregion */
/* #region Line Arrow */
.fancyarrow span {
    position: relative;
}

    .fancyarrow span:before,
    .fancyarrow span:after {
        content: "";
        position: absolute;
        height: 6px;
        border-bottom: 1.4px solid rgb(102, 204, 0);
        top: -21px;
        width: 140px;
    }

    .fancyarrow span:before {
        right: 100%;
        margin-right: -270px;
    }

    .fancyarrow span:after {
        left: 100%;
        margin-left: -270px;
    }
/* #endregion */
/* #region Line "The Events" */
.fancyevents span {
    display: inline-block;
    position: relative;
}

    .fancyevents span:before,
    .fancyevents span:after {
        content: "";
        position: absolute;
        height: 6px;
        border-bottom: 1.4px solid rgb(102, 204, 0);
        top: 22px;
        width: 200px;
    }

    .fancyevents span:before {
        right: 100%;
        margin-right: 20px;
    }

    .fancyevents span:after {
        left: 100%;
        margin-left: 20px;
    }
/* #endregion */
/* #endregion */

/* #region Bootstrap */
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/* #endregion */

/* #region Navigatie */
/* dit is de opmaak van de achtergrond van de header en het juist op zn plaats zetten */
.navbar-inverse {
    background-color: white;
    margin-top: 1%;
    margin-left: 10%;
    margin-right: 10.0%;
    margin-bottom: -10%;
    border-color: white;
}

    .navbar-inverse a {
        background-color: #FFF;
    }

    /* het lettertype van de navigatie */
    .navbar-inverse .navbar-nav > li a {
        color: black;
        font-family: 'Bahnschrift Light', 'Bahnschrift';
        font-weight: 300;
        font-style: normal;
        font-size: 28px;
        float: left;
    }

    /* zet kleur op groen */
    .navbar-inverse .active, /* als de tekst actief is */
    .navbar-inverse .navbar-brand,
    .navbar-inverse .navbar-brand:hover, /* als je met de muis over het vak heen gaat */
    .navbar-inverse .navbar-nav > li > a:hover, /* als je met de muis over de link heen gaat */
    .navbar-inverse .navbar-nav > li > a:focus { /* als je met de muis focust op de link */
        color: rgb(102, 204, 0);
    }

    /* rechtzetten van de navigatiebalk*/
    .navbar-inverse .navbar-nav {
        margin-left: 30px;
        margin-top: 50px;
    }

    .navbar-inverse .navbar-brand,
    .navbar > .container .navbar-brand {
        margin-left: 30px;
    }
/* #endregion */

/* #region Body */
body {
    width: 85.2%;
    background-image: url(/Content/Images/bg.png);
    background-color: deeppink;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 0px;
    margin: 8%;
    min-height: min-content;
}

/* Set padding to keep content from hitting the edges */
.body-content-fixed {
    min-width: 103.3%;
}

.container body-content-fixed {
    width: 80%;
}

.container {
    margin-top: 7px;
    margin-left: 2.3%;
    width: 105%;
}

    /* Content */
    .container .jumbotron {
        width: 90.9%;
        align-content: center;
    }
/* #endregion */

/* #region Home buttons */
.home-buttons {
    margin: auto;
    position: relative;
    background: inherit;
}

    .home-buttons img {
        margin: auto;
        width: 428px;
    }

    .home-buttons a,
    .home-buttons h2 {
        font-family: 'Bahnschrift SemiLight', 'Bahnschrift';
        font-weight: 350;
        font-style: normal;
        text-decoration: underline;
        color: black;
        margin-left: 25px;
        margin-top: 0px;
    }

    .home-buttons a,
    .home-button p {
        position: absolute;
        width: 410px;
        font-family: 'Bahnschrift Light', 'Bahnschrift';
        font-weight: 300;
        font-style: normal;
        text-decoration: none;
    }

        .home-buttons a,
        .home-button p.home2 {
            font-size: 24px;
            text-align: center;
            height: 29px;
        }

        .home-buttons a,
        .home-button p.home3 {
            font-size: 20px;
            text-align: center;
            margin-left: 10px;
            margin-top: 30px;
            margin-right: 10px;
        }

    /* de schaduwrand om de eventbutton */
    .home-buttons .home-button .home-button-dance,
    .home-buttons .home-button .home-button-food,
    .home-buttons .home-button .home-button-historic,
    .home-button-jazz {
        height: 500px;
        -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
        -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
        width: 49%;
        position: relative;
    }

    /* opmaak eventbuttons */
    .home-buttons .home-button .home-button-dance {
        background-color: rgba(241, 216, 14, 1);
    }

    .home-buttons .home-button .home-button-food {
        left: 486px;
        top: -500px;
        background-color: rgba(195, 227, 149, 1);
    }

    .home-buttons .home-button .home-button-historic {
        top: -437px;
        background-color: rgba(86, 216, 206, 1);
    }

    .home-buttons .home-button .home-button-jazz {
        top: -937px;
        left: 488px;
        background-color: rgba(138, 209, 131, 1);
    }

    .home-buttons a:hover {
        background-color: rgba(255, 204, 102, 1);
    }

/* #endregion */

/* #region Footer*/
.footer {
    background-color: white;
    /* margin-top: -75%; */
    /* margin-left: 10%; */
    margin-right: 9%;
    margin-bottom: -10%;
    border-color: white;
}

    .footer .footer-img-part {
        width: 30%;
        margin-right: 35%;
        margin-left: 35%;
    }

    .footer img.footerimg {
        margin-left: 6%;
        margin-right: 6%;
        position: relative;
        /* align-content: center; */
        /* align-items: center; */
    }

    .footer .footertext {
        margin-left: 25%;
        margin-right: 25%;
        height: 56px;
        background-color: rgba(255, 255, 255, 0);
        font-size: 20px;
        text-align: center;
    }
/* #endregion*/
