.bg {
    background-image:url(/Content/Images/bg.png)
}

body {
    background-image: url(/Content/Images/bg.png);
    background-color: deeppink;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 20px;
    margin: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.container body-content {
    width: 970px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Home-pagina - Navigatie-balk */
.navbar-inverse { 
    background-color: white; 
        margin-top: -95px;
    margin-left: 105px;
    margin-right: 104px;
}
.navbar-inverse a { background-color: #FFF; }
.navbar-inverse .navbar-nav > li > a { 
    color: black;
    font-size: 20px;
}
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-brand:hover { 
    color: black;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus{
    color: black;
}

.navbar-inverse .navbar-nav{
    margin-left: 30px;
    margin-top: 50px;
}

.navbar-inverse .navbar-brand{
    margin-left: 30px;
}

.navbar > .container .navbar-brand{
    margin-left: 30px;
}

.container{
    margin-top: 7px;
    margin-left: 20px;
    margin-right: 20px;
}

/* Content */
.container .jumbotron{
    margin-top: 45px;
}
.home1{
    background-color: cornflowerblue;
    margin-left: 350px;
    padding-left: 80px;
    width: 250px;
    height: 60px;
}

.home2{
    text-align: center;
    font-size: 14px;
}

.row{
    margin-left: 50px;
}

.col-md-6{
    border-color: black;
}
.col-md-6 .Foods {
    background-color : "cornflowerblue";
}

/* Jazz-pagina */
.jazz{
    background-color: cornflowerblue;
}
h1{
    text-align: center;
}
.jazz1{
    text-align: center;
}
.jazzimage{
    text-align: center;
}

/* Food-pagina */
.food {
    background-color: white;
}
.food1 {
    text-align: center;
}
h1 {
    text-align: center;
}

/* Dance-pagina*/

