.bg {
    background-image: url(/Content/Images/bg.png);
}

/* #region Fonts */

/* #endregion */

/* #region Body */
body {
    width: 83.3%;
    background-image: url(/Content/Images/bg.png);
    background-color: deeppink;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 20px;
    margin: 7.4px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.container body-content {
    width: 80%;
}
/* #endregion */

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

img .logo {
    margin-left: -103px;
    margin-right: 50px;
}

/* Home-pagina - Navigatie-balk */
/* #region Navigatie */
.navbar-inverse {
    background-color: white;
    margin-top: 1%;
    margin-left: 10%;
    margin-right: 10.0%;
    margin-bottom: -10%;
    border-color: white;
}

.navbar-collapse :before {
    height: 6px;
    border-bottom: 2px solid #b9b9ff;
    top: 22px;
    width: 609px;
    right: 100%;
    margin-right: 15px;
}

.navbar-collapse :after {
    height: 6px;
    border-bottom: 2px solid #b9b9ff;
    top: 22px;
    width: 609px;
    left: 100%;
    margin-left: 15px;
}

.navbar-inverse a {
    background-color: #FFF;
}

.navbar-inverse .navbar-nav > li > a {
    color: black;
    font-size: 20px;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-brand:hover {
    color: lightblue;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: lightblue;
}

.navbar-inverse .navbar-nav {
    margin-left: 30px;
    margin-top: 50px;
}

.navbar-inverse .navbar-brand {
    margin-left: 30px;
}

.navbar > .container .navbar-brand {
    margin-left: 30px;
}
/* #endregion */

/* #region Content */
.container {
    margin-top: 7px;
    margin-left: 8.6%;
    margin-right: -6.1%;
}

    /* Content */
    .container .jumbotron {
        width: 105%;
        margin-top: 45px;
        align-content: center;
    }

.home1 {
    background-color: cornflowerblue;
    margin-left: 350px;
    padding-left: 80px;
    width: 250px;
    height: 60px;
}

.col-md-6 {
    border-color: black;
}

    .col-md-6 .Foods {
        background-color: cornflowerblue;
    }

/* #region home buttons */
.home-buttons {
    margin: auto;
    position: relative;
    height: 700px;
    background: inherit;
}

    .home-buttons .home-buttons-img {
        margin: auto;
    }

    .home-buttons h2 {
        font-family: 'Bahnschrift SemiLight', 'Bahnschrift';
        font-weight: 350;
        font-style: normal;
        text-decoration: underline;
        margin-left: 25px;
        padding-top: 8px;
    }

    .home-buttons .home2 {
        font-size: 24px;
        text-align: left;
        position: absolute;
        width: 168px;
        height: 29px;
        font-family: 'Bahnschrift Light', 'Bahnschrift';
        font-weight: 300;
        font-style: normal;
    }

.home3 {
        font-size: 24px;
        text-align: center;
        margin-left: 10px;
        margin-top: 30px;
        margin-right: 10px;
        position: absolute;
        font-family: 'Bahnschrift Light', 'Bahnschrift';
        font-weight: 300;
        font-style: normal;
    }

.home-button-dance {
    width: 480px;
    background-color: rgba(241, 216, 14, 1);
    -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
    -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}

.home-button-food {
    left: 486px;
    top: -397px;
    width: 480px;
    position: relative;
    background-color: rgba(195, 227, 149, 1);
    -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
    -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}

.home-button-historic {
    top: -437px;
    width: 480px;
    position: relative;
    background-color: rgba(86, 216, 206, 1);
    -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
    -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}

.home-button-historic :hover {
    background-color: rgba(255, 204, 102, 1);
}

.home-button-jazz {
    top: -835px;
    width: 480px;
    position: relative;
    left: 488px;
    background-color: rgba(138, 209, 131, 1);
    -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
    -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
/* #endregion */
/* #endregion */
