@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Haarlem festival •</h1>
    <h1>July 26-29, 2019</h1>
    <p class="lead">Haarlem is one of the oldest cities in The Netherlands. At this festival you will find more about the city, 
    the things only locals know. Discover Haarlem through many festival each located at a different part of the city. 
    Discover Haarlem with a historic walk and combine it with a nice dinner at one of many restaurants. 
    Enjoy dance parties from popular Dj's like Afrojack, Hardwell and Martin Garrix. 
    You could also attend one of the nicest jazz performances.</p>
</div>
<h1>The Events</h1>
<div class="row">
    <div class="col-md-4">
        <h2>Jazz</h2>
        <p>Date: July 26-29</p>
        <br />
        <p>Listen to the nicest Jazz music at the Haarlem jazz events.</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Jazzs")">Learn more &raquo;</a></p>   
    </div>
    <div class="col-md-4">
        <h2>Dance</h2>
        <p>Date: July 27-29</p>
        <br />
        <p>With Haarlem dance you have the most unique dance parties in Haarlem.</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Dance")">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Food</h2>
        <p>Date: July 26-29</p>
        <br />
        <p>Eat in the best restaurants in Haarlem.</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Food")">Learn more &raquo;</a></p>
    </div>
</div>