@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Film Festival</h1>
    <p class="lead">The Haarlem Film Festival offers customers Dance, Food and Jazz events.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Dance</h2>
        <p>...</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Dance")">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Food</h2>
        <p>...</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Food")">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Jazz</h2>
        <p>...</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Jazzs")">Learn more &raquo;</a></p>
    </div>
</div>